body {
	background-image: urk ("img/body.gif") ;
	width: "10px";
	height: "10px";
	}
	
#wrap {
	
	}
	
#header {
	}
	
#nav {
	}
	
#main {
	}
	
#span {
	background-color: green;
	padding: 30pt; 
	text-align: center;
	height: 8%; 
	left: 10%; 
	top: 9%; 
	width: 80%; 
	}
	
#video {
	
	}
