body {
	background-image: url("../img/body.gif") ;
	background-repeat: no-repeat;
	width: "10px";
	height: "10px";
	}
	
#wrap {
	
	}
	
#header img {
	position: absolute;
	top: 8px;
	left: 60px;
	font-size: 20 px;
	color: black;
	}
	
#nav {
	}
	
#main {
	}
	
#span {
	
	}
	
#video {
	
	}
